# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
node_modules/